; ---- database configuration

[database]
host = 'localhost'
username = 'root'
password = ''
databasename = 'mediastorage'

[language]
default = 'fr_FR'

[mail]
server = ''
service = ''
it-service = ''
regie = ''
other = ''

[workflow]
url = ''

[storage]
path = ''

[archive]
path = ''
