table {
	background-color: #f5f4f2;
	text-align: left;
	width: 100%;
}

table tr th {
	background-color: #a6a6a6;
}

body table tr:hover {
	background-color: #cccccc;
}

table tr:nth-child(odd) {
	background-color: #e9e7e2;
}

th, td {
	padding: 10px;
}

td.button_td a {
	text-decoration: none;
	text-align: center;
	width: 100%;
	display: inline-block;
	padding-top: 10px;
	color: black;
}

.button_td {
	padding: 0 10px 0 10px;
	vertical-align: middle;
}

td.edit:hover {
	background-color: #0099ff;
}

td.delete:hover {
	background-color: #ff1a1a;
}

td.edit a:hover, td.delete a:hover {
	color: white;
}

div.add {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	background-color: #b3b3b3;
}

div.add a {
	display: inline-block;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	color: black;
}

#container {
	margin: 20px;
	text-align: center;
}

form {
	display: inline-block;
	width: 70%;
}

form label {
    display: inline-block;
    float: left;
    width: 40%;
	white-space: nowrap;
	text-align: right;
	margin: 10px 0 0px 5px;
}

form label, form input, form select {
    float: left;
	display: inline-block;
	border-style: none;
    font-size: 0.9em;
    padding: 3px;
}

form input, form select {
	margin: 10px 0 10px 5px;
}

form input {
	width: 30%;
}

#cancel_button, #validate_button {
    font-size: 0.9em;
    padding: 6px 10px 6px 10px;
    margin: 40px 0 0 90px;
    width: 100px;
}

#validate_button {
	font-size: 0.9em;
    padding: 6px 10px 6px 10px;
    margin: 30px 0 0 10px;
    width: 100px;
}

.form_button {
    text-decoration: none;
    display: inline-block;
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: 'roboto', 'Quicksand';
    background-color: #404040;
    text-align: center;
}

#cancel_button:hover {
    background-color: #ff1a1a;
    color: white;
}

#validate_button:hover {
    background-color: #0099ff;
    color: white;
}

.clear {
    clear: both;
}

.info_multiple_select {
	display: inline-block;
	float: left;
	font-size: 0.7em;
	color: #666666;
}

input.input_checkbox {
	width: auto;
	margin: 17px 0 10px 10px;
}

.design-form input{
    padding: 0px;
}

@media only screen and (max-width: 900px) {
	#menu_text {
		display: none;
	}

	#container {
		margin: 0;
	}

	.add {
		margin-top: 10px;
	}

	form {
		width: 95%;
	}

    form input, form select {
        width: 100%;
        margin: 10px 0 0 0;
    }

    form label {
        width: 100%;
        text-align: left;
        margin: 20px 0 0 0;
    }

    #cancel_button {
        width: 40%;
        float: left;
        margin: 40px 0 0 0 ;
    }

    #validate_button {
        width: 40%;
        float: right;
        margin: 40px 0 0 0 ;
        padding: 7px 12px 6px 12px;
    }
}