video {
	border: 1px solid #d5d5d5;
}

table {
	width: 100%;
}

#video_div {
	float: left;
	width: 52%;
	margin: 10px 10px 10px 10px;
}

#video_player {
	max-height: 500px;
}

#description_div, #chapter_div, #download_link_div {
	float: left;
	width: 42%;
	margin: 10px 0px 0px 5px;
}

#description_div table th, #download_link_div table th {
	text-align: right;
	vertical-align: top;
}

.video_content {
	width: 200px;
	min-height: 140px;
	display: inline-block;
	float: left;
	background-color: #d5d5d5;
	margin: 5px 5px 5px 0px;
	word-wrap: break-word;
	text-align: center;
}

.video_content:hover {
	background-color: #bfbfbf;
	color: #000000;
}

.video_content span {
	width: 100%;
}

div.div_video_control {
	text-align: center;
	display: inline-block;
	width: 170px;
	line-height: 30px;
	margin: 15px 0 0 0;
}

div.div-video-padding {
	padding: 5px;
}

div.div_video_control {
	color: #000000;
	background-color: #d5d5d5;
}

.content_thumbnail_header {
	display: inline-block;
	width: 100%;
    line-height: 40px;
	background-color: #e4e4e4;
	text-align: center;
	font-weight: bold;
}

.content_thumbnail_body {
	display: inline-block;
	margin-top: 10px;
	padding-bottom: 10px
}

label.label-content-thumbnail {
	text-decoration: underline;
}

#video_contents_div {
	margin-top: 10px;
}

#video_contents_div a {
	color: black;
}

.clear {
	clear: both;
}

div#download_link_div {
	float: left;
	margin: 10px 0px 10px 5px;
	width: 42%;
	/*padding: 0;*/
}

#description_div, #download_link_div, #chapter_div {
	padding: 10px 5px 10px 10px;
}

/* DOWNLOAD LINKS BLOCK */

#download_link_table, #chapter_table {
	border-collapse: collapse;
}

#download_link_table thead th, #chapter_table thead th {
	text-align: left;
}

#download_link_table a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	text-align: center;
	color: black;
	line-height: 40px;
}

#download_link_table th, #download_link_table td , #chapter_table th, #chapter_table td{
	padding: 10px;
}

#download_link_table td, #chapter_table td {
	background-color: #f2f2f2;
}

#download_link_table, #download_link_table th, #download_link_table td , #chapter_tablem #chapter_table th, #chapter_table td {
	border: 1px solid black;
	border-color: #d5d5d5;
}

#download_link_table th, #chapter_table th{
	background-color: #d5d5d5;
}

/* DESCRIPTION BLOCK */

#description_div , #chapter_div, #download_link_div {
	background-color: #f2f2f2;
    border: 1px solid black;
    border-color: #d5d5d5;
}

#description_div .label, #chapter_div .label {
	font-weight: bold;
}

th {
	white-space: nowrap;
}

.text-center {
	text-align: center;
}

.content_subtitle {
	padding: 0px 0 0px 10px;
	/*display: inline-block;*/
	margin: 0 0 10px 0;
	/*border-bottom: 1px solid #d5d5d5;*/
	font-size: 1.2em;
	text-decoration: underline;
}

/*#chapter_create a, .submit {
	display: inline-block;
	text-decoration: none;
	background-color: #e9e7e2;
	padding: 5px;
	margin: 5px;
	color:black;
	border: 1px solid black;
}
*/
.label {
	display: inline-block;
	padding: 5px 5px 0 0px;
	margin-top: 5px;
	color: #000000;
}

.submit {
	margin-top: 25px;
	margin-bottom: 15px;
}

div.first_div, div.second_div {
	text-align: left;
  color: #4f4f4f;
}

@media only screen and (max-width: 900px) {
    #video_div {
        width:100%;
        margin-left: 0;
        margin-right: 0;
        margin: 0;
    }

    video {
    	border: none;
    }

    #description_div, div#download_link_div, #chapter_div {
        width:100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}