video {
	border: 1px solid black;
}

table {
	width: 100%;
}

.container {
}

#video_div {
	float: left;
	width: 52%;
	margin: 10px 10px 10px 10px;
}

#description_div {
	float: left;
	width: 42%;
	margin: 10px 0px 0px 5px;
}

#description_div table th, #download_link_div table th {
	text-align: right;
	vertical-align: top;
}

.video_content {
	width: 10%;
	height: 40px;
	display: inline-block;
	float: left;
	background-color: #a6a6a6;
	margin: 5px 5px 0 0;
}

#video_contents_div {
	margin-top: 10px;
}

.clear {
	clear: both;
}

#download_link_div {
	float: left;
	margin: 10px 0px 10px 5px;
	width: 42%;

}

#description_div, #download_link_div {
	background-color: #a6a6a6;
	padding: 10px 5px 10px 5px;
}

th {
	white-space: nowrap;
}

@media only screen and (max-width: 900px) {
    #video_div {
        width:100%;
        margin-left: 0;
        margin-right: 0;
        margin: 0;
    }

    video {
    	border: none;
    }

    #description_div, #download_link_div {
        width:100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}