@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* MAIN WINDOW */

body {
	background-color: black;
	color: black;
	font-family: "roboto", 'QuickSand';
}

div.div_canvas {
	background-color: #f5f4f2;
	color: black;
}

.error_div {
    background-color: #800000;
    color: white;
}

.success_div {
    background-color: #003300;
    color: white;
}
.to_hide_mobile a {
    color: white;
}

/* TOP MENU */

nav.nav_canvas {
	color: white;
	background-color: #404040;
}

/* SIDE MENUS */

.off-canvas {
	background-color: #404040;
	color: red;
}

.off-canvas a {
    color: white;
}

.off-canvas a:hover {
    background-color: #00ff99;
    color: black;
}

.profile_button {
    background-color: #33adff;
    color: #ffffff;
}

ul li a.profile_button:hover {
    background-color: #008ae6;
    color: #ffffff;
}

.logout_button {
    background-color: #ff3333;
    color: #ffffff;
}

ul li a.logout_button:hover {
    background-color: #e60000;
    color: #ffffff;
}

ul li a.root_button {
    background-color: #990000;
    color: white;
}

ul li a.root_button:hover {
    background-color: #ff1a1a;
    color: white;
}

.to_hide_mobile a {
    color: white;
}

.link-paging {
    color: #000000;
}
