.program_info {
    text-align: left;
    margin: 15px 0 0 0;
    font-size: 0.8em;
}

.program_info_image_div {
  	display: inline-block;
    vertical-align: middle;
    float: left;
	margin: 10px 30px 20px 40px;
}

.program_info_image {

}

.program_info_text_div {
  	display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.field {

}

div.first_div, div.second_div {
	text-align: left;
  color: #4f4f4f;
  padding-right: 10px;
}

#description_div, #download_link_div {
	padding: 10px 10px 10px 10px;
}